:root {
  --main-color: #0b132b;
  --main-hover: rgba(125, 119, 119, 0.39);
  --main-font: "Roboto Mono", monospace;
}

body {
  background-color: black;
  position: fixed;
}
.box1 {
  width: 350px;
  height: 130px;
  border-radius: 5px;
  color: white;
  font-family: "Roboto Mono", monospace;
  font-size: 15px;
  background-color: #0b132b;
}
.box10 {
  width: 327px;
  position: relative;
  height: 593px;
  top: -1333px;
  left: 1170px;
  border-radius: 5px;
  background-color: var(--main-color);
  overflow-y: auto;
}
.box11 {
  position: relative;
  height: 150px;
  top: -2083px;
  left: 1170px;
  width: 325px;
  border-radius: 5px;
  background-color: var(--main-color);
}
.box2 {
  width: 350px;
  height: 120px;
  position: relative;
  top: 10px;
  border-radius: 5px 5px 0px 0px;
  background-color: var(--main-color);
}
.box3 {
  width: 350px;
  height: 490px;
  position: relative;
  top: 10px;
  background-color: #0b132b;
  overflow-y: auto;
  border-radius: 0px 0px 5px 5px;
}
.name1 {
  position: relative;
  left: 60px;
  width: 20px;
  top: 30px;
  text-decoration: none;
  font-size: 20px;
  color: white;
  display: block;
  height: 50px;
  font-weight: bold;
}
.box4 {
  background: linear-gradient(180deg, rgba(12, 27, 56, 1) 12%, rgba(11, 19, 43, 1) 51%);
  width: 800px;
  left: 360px;
  position: relative;
  height: 750px;
  top: -740px;
  border-radius: 5px;
  overflow-y: auto;
}

.circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: black; /* change the color as desired */
  color: white;
  position: relative;
  left: 80px;
  top: 11px;
}
.arrow1 {
  font-size: 20px;
  position: relative;
  left: 10px;
  text-decoration: none;
  color: white;
  top: 2px;
}
.circle2 {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  color: white;
  position: relative;
  left: 20px;
  top: -19px;
  transform: rotate(180deg); /* rotate the circle by 45 degrees */
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
}
.arrow2 {
  font-size: 20px;
  position: relative;
  left: 10px;
  text-decoration: none;
  color: white;
  top: 2px;
}
.msg {
  font-size: 30px;
  font-family: "Roboto Mono", monospace;
  width: 400px;
  position: relative;
  left: 20px;
  color: white;
}
.box5 {
  height: 90px;
  width: 350px;
  border-radius: 5px;
  position: relative;
  left: 20px;
  background: rgba(125, 119, 119, 0.22);
  transition: 0.5s ease;
}
.box5:hover {
  background: rgba(125, 119, 119, 0.39);
}
.img1 {
  width: 100px;
  height: 90px;
  border-radius: 5px 0px 0px 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.28);
}
.dsc {
  color: white;
  font-family: "Roboto Mono", monospace;
  position: relative;
  top: -40px;
  left: 50px;
  width: 100px;
  text-decoration: none;
}
.box6 {
  height: 90px;
  width: 350px;
  border-radius: 5px;
  position: relative;
  left: 400px;
  background: rgba(125, 119, 119, 0.22);
  transition: 0.5s ease;
  top: -89px;
}
.box6:hover {
  background: rgba(125, 119, 119, 0.39);
}
.img2 {
  width: 100px;
  height: 90px;
  border-radius: 5px 0px 0px 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.28);
}
.dsc1 {
  color: white;
  font-family: "Roboto Mono", monospace;
  position: relative;
  text-decoration: none;
  width: 100px;
  top: -40px;
  left: 50px;
}
.box7 {
  height: 90px;
  width: 350px;
  border-radius: 5px;
  position: relative;
  left: 401px;
  background: rgba(125, 119, 119, 0.22);
  transition: 0.5s ease;
  top: -70px;
}
.box7:hover {
  background: rgba(125, 119, 119, 0.39);
}
.img3 {
  width: 100px;
  height: 90px;
  border-radius: 5px 0px 0px 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.28);
}
.dsc2 {
  color: white;
  font-family: "Roboto Mono", monospace;
  position: relative;
  top: -40px;
  left: 50px;
  text-decoration: none;
  width: 100px;
}
.box8 {
  height: 90px;
  width: 350px;
  border-radius: 5px;
  position: relative;
  left: 20px;
  background: rgba(125, 119, 119, 0.22);
  transition: 0.5s ease;
  top: -160px;
}
.box8:hover {
  background: rgba(125, 119, 119, 0.39);
}
.img4 {
  width: 100px;
  height: 90px;
  border-radius: 5px 0px 0px 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.28);
}
.dsc3 {
  color: white;
  font-family: "Roboto Mono", monospace;
  position: relative;
  top: -40px;
  left: 50px;
  text-decoration: none;
  width: 100px;
}
.msg1 {
  font-size: 25px;
  font-family: "Roboto Mono", monospace;
  width: 400px;
  position: relative;
  left: 20px;
  color: white;
  text-decoration: none;
  top: -100px;
}
.msg1:hover {
  text-decoration: underline;
}
.box9 {
  width: 200px;
  height: 290px;
  background: rgba(125, 119, 119, 0.22);
  border-radius: 5px;
  position: relative;
  left: 20px;
  top: -80px;
  display: flex;
}
.box9:hover {
  background: rgba(125, 119, 119, 0.39);
}
.img5 {
  width: 170px;
  border-radius: 5px;
  height: 150px;
  position: relative;
  left: 15px;
  top: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.dsc4 {
  font-family: "Roboto Mono", monospace;
  font-size: 15px;
  position: relative;
  left: 13px;
  top: 30px;
  color: white;
  text-decoration: none;
}
.dsc5 {
  text-decoration: none;
  position: relative;
  top: -150px;
  width: 700px;
  left: 30px;
  color: gray;
  font-family: "Roboto Mono", monospace;
  font-size: 13px;
}
.minibox {
  position: relative;
  top: 50px;
  background-color: var(--main-color);
  height: 70px;
  border-radius: 5px;
  transition: 0.5s ease;
}
.minibox:hover {
  background-color: var(--main-hover);
}

.miniimg {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  position: relative;
  left: 10px;
  top: 8px;
}

.desc {
  font-family: var(--main-font);
  font-size: 15px;
  color: white;
  position: relative;
  left: 20px;
  text-decoration: none;
  top: -20px;
}
.circle4 {
  font-size: 12px;
  text-decoration: none;
  color: white;
  font-family: var(--main-font);
  position: relative;
  top: 5px;
}
.circle5 {
  height: 30px;
  width: 80px;
  border-radius: 20px;
  position: relative;
  left: 20px;
  background: rgba(255, 255, 255, 0.2);
  text-align: center;
  transition: 0.5s ease;
  top: 80px;
}
.circle5:hover {
  background-color: rgba(177, 169, 169, 0.39);
}

.circle6 {
  height: 30px;
  width: 60px;
  border-radius: 20px;
  position: relative;
  left: 110px;
  background: rgba(255, 255, 255, 0.2);
  text-align: center;
  transition: 0.5s ease;
  top: 50px;
}
.circle6:hover {
  background-color: rgba(177, 169, 169, 0.39);
}

.circle8 {
  height: 30px;
  width: 70px;
  border-radius: 20px;
  position: relative;
  left: 180px;
  background: rgba(255, 255, 255, 0.2);
  text-align: center;
  transition: 0.5s ease;
  top: 20px;
}
.circle8:hover {
  background-color: rgba(177, 169, 169, 0.39);
}
.circle10 {
  height: 30px;
  width: 70px;
  border-radius: 20px;
  position: relative;
  left: 258px;
  background: rgba(255, 255, 255, 0.2);
  text-align: center;
  transition: 0.5s ease;
  top: -10px;
}
.circle10:hover {
  background-color: rgba(177, 169, 169, 0.39);
}

.prof1 {
  width: 70px;
  border-radius: 3px;
  position: relative;
  top: 10px;
  left: 20px;
}
.prof2 {
  width: 70px;
  border-radius: 3px;
  position: relative;
  top: 20px;
  left: 20px;
}
.wel {
  color: white;
  font-family: var(--main-font);
  position: relative;
  left: 120px;
  font-size: 20px;
  top: -60px;
}
.fri {
  color: white;
  font-family: var(--main-font);
  position: relative;
  left: 20px;
  top: 20px;
  width: 300px;
}
.user1 {
  color: white;
  font-family: var(--main-font);
  position: relative;
  top: -80px;
  left: 100px;
  width: 100px;
}
.song {
  color: gray;
  font-family: var(--main-font);
  font-size: 10px;
  position: relative;
  top: -90px;
  text-decoration: none;
  left: 95px;
}
.song:hover {
  text-decoration: underline;
}
.album {
  color: gray;
  font-family: var(--main-font);
  font-size: 10px;
  position: relative;
  top: -70px;
  left: -110px;
  text-decoration: none;
}
.album:hover {
  text-decoration: underline;
}
.album1 {
  color: gray;
  font-family: var(--main-font);
  font-size: 10px;
  position: relative;
  top: -165px;
  left: 2px;
  text-decoration: none;
}
.album1:hover {
  text-decoration: underline;
}
.song1 {
  color: gray;
  font-family: var(--main-font);
  font-size: 10px;
  position: relative;
  top: -185px;
  text-decoration: none;
  left: 95px;
}
.song1:hover {
  text-decoration: underline;
}
.prof3 {
  width: 70px;
  border-radius: 3px;
  position: relative;
  top: 30px;
  left: -130px;
}
.song2 {
  color: gray;
  font-family: var(--main-font);
  font-size: 10px;
  position: relative;
  top: -90px;
  text-decoration: none;
  left: 98px;
}
.song2:hover {
  text-decoration: underline;
}
.album2 {
  color: gray;
  font-family: var(--main-font);
  font-size: 10px;
  position: relative;
  top: -70px;
  left: -61px;
  text-decoration: none;
}
.album2:hover {
  text-decoration: underline;
}
.prof4 {
  width: 70px;
  border-radius: 3px;
  position: relative;
  top: 15px;
  left: 23px;
}

.shows {
  background-color: transparent;
  height: 260px;
  position: relative;
  top: -50px;
}
.show2 {
  width: 160px;
  height: 160px;
  border-radius: 5px;
  position: relative;
  top: 30px;
  left: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.show1 {
  width: 200px;
  height: 290px;
  background: rgba(125, 119, 119, 0.22);
  border-radius: 5px;
  position: relative;
  left: 30px;
}
.show4 {
  width: 160px;
  height: 160px;
  border-radius: 5px;
  position: relative;
  top: 30px;
  left: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.show3 {
  width: 200px;
  height: 290px;
  background: rgba(125, 119, 119, 0.22);
  border-radius: 5px;
  position: relative;
  left: 295px;
  top: -289px;
}
.show5 {
  width: 200px;
  height: 290px;
  background: rgba(125, 119, 119, 0.22);
  border-radius: 5px;
  position: relative;
  left: 550px;
  top: -580px;
}
.name2 {
  font-family: var(--main-font);
  font-size: 18px;
  position: relative;
  top: 40px;
  left: 18px;
  color: white;
}
.name3 {
  font-family: var(--main-font);
  font-size: 10px;
  position: relative;
  top: 50px;
  left: 18px;
  color: rgba(125, 119, 119, 0.5);
}
.mode {
  color: white;
  position: fixed;
  top: 15px;
  left: 900px;
  cursor: pointer;
  font-size: 20px;
  overflow: hidden;
  font-family: var(--main-font);
}
.mode1 {
  color: black;
}

.dark {
  background-color: #d5d0cd;
}
.boxone {
  background-color: #9a998c;
}
.boxtwo {
  background-color: #9a998c;
}
.boxfour {
  background-color: #9a998c;
}
.boxfive {
  background: linear-gradient(180deg, rgba(182, 181, 165, 1) 12%, rgba(154, 153, 140, 1) 50%);
}
.nameone {
  color: black;
}
.play12 {
  background-color: #d5d0cd;
}
.play {
  height: 70px;
  position: relative;
  top: -1476px;
  width: 1485px;
}
.playimg {
  width: 60px;
  position: relative;
  left: 10px;
  border-radius: 5px;
}
.playsong {
  color: white;
  position: relative;
  top: -40px;
  font-family: var(--main-font);
  font-size: 15px;
  text-decoration: none;
  left: 30px;
}
.playsong:hover {
  text-decoration: underline;
}
.play13 {
  color: black;
}

.playsong1 {
  color: gray;
  position: relative;
  top: -50px;
  font-family: var(--main-font);
  font-size: 10px;
  text-decoration: none;
  left: 103px;
}
.playsong1:hover {
  text-decoration: underline;
}
.playsong2 {
  color: rgb(106, 151, 106);
  position: relative;
  top: -100px;
  font-family: var(--main-font);
  font-size: 30px;
  text-decoration: none;
  left: 220px;
}
.songline {
  background-color: rgba(125, 119, 119, 0.22);
  height: 5px;
  width: 510px;
  border-radius: 5px;
  position: relative;
  top: -40px;
  left: 300px;
}
.play14 {
  background-color: black;
}
.time {
  position: relative;
  top: -55px;
  color: white;
  font-size: 15px;
  left: 250px;
}
.time1 {
  color: black;
}
